html {
	background-image: url("../img/plainGrass.jpg");
	background-color: green;
	background-size: cover;
}

.navBar { 
	width: 100%;
	background-image: url("../img/wood2.jpg");
	background-size: cover;
	background-color: brown;
	opacity: .8;
	
}

.navBar ul {
	text-align: right;
	list-style: none;
}

#siteName {
	font-size: 1.5em;
	color: #fff;
	float: left;
}

.navBar ul li {

	display: inline-block;
	font-weight: bolder;
	font-size: 1.2em;
	font-family: 'Poiret One', cursive;
	padding: 1em .5em;
	margin: .5em .5em;
	
}

.navBar ul li a {
	color: #fff;
	text-decoration: none;
}

.navBar ul li a:hover {
	color: darkgreen;
}

form {
	display: inline-block;
	margin: 1em 1em;
	padding: 1em 1em;
}

label {
	color: #fff;
	font-family: 'Ubuntu Mono';
	font-size: 1.5em;
}

 #input {
	border: dashed;
	border-color: darkgreen;
	padding: .5em 0;
	font-size: 1em;
	font-family: 'Ubuntu Mono';
	width: 30em;
}

#addItem {
	font-family: 'Ubuntu Mono';
	font-size: 1em;
	margin: 1em 1em;
	padding: .5em .5em;
}

#addItem:hover {
	color: green;
	outline-style: inset;
}

.cart {
	font-family: 'Poiret One', cursive;
	text-align: center;
	color: #fff;
}

.welcome {
	margin: 0 20em;
	border: solid;
	border-color: darkgreen;
	color: #fff;
}

.carthide div {
	display: inline-block;
}

.carthide div:nth-child(2) ul li {
	background-color: white;
}

.newItems {
	color: #fff;
}

.newItems ul {
	list-style: none;
}

.newItems a {
	color: #fff;
	text-decoration: none;
}

.newItems a:hover {
	color: darkgreen;
}

.confirmedItems a {
	color: #000;
	text-decoration: none;
}

.confirmedItems a:hover {
	color: darkgreen;
}

.confirmedItems {
	color: #fff;
}

.confirmedItems ul {
	list-style: none;
}

.slogan {
	text-align: center;
	font-family: 'Ubuntu Mono';
	font-size: 1.3em;
	color: #fff;
}


.contacts {
	font-family: 'Rokkitt';
	background-color: rgba(255, 255, 255, .5);
	font-size: 0.9em;
	text-align: center;
	clear: both;
	padding: 1em 2em;
	color: #000;
}

.social-icon {
	width: 20px;
	height: 20px;
	margin: 0 5px;
}

.contacts p {
	font-size: 1em;
}
