
@media screen and (max-width: 980px) {


	.navBar {
		text-align: center;
		background-position: center;
		background-repeat: no-repeat;
	}


	.navBar ul {
		text-align: center;
		list-style: none;
	}

	.navBar ul li {
		display: inline-block;
		padding: .4em 1em;
		margin: .5em .5em;
		font-size: 1.5em;
		padding-left: 1.5em;
	}

	#siteName {
		font-size: 2em;
		font-weight: bolder;
	}


	#add {
		text-align: center;
		font-size: .8em;
		margin-left: 7.5em;
	}

	.welcome {
		margin: auto;
	}

	section{
		margin-bottom: 20em;
	}

}


@media screen and (max-width: 480px) {

	.navBar {
		text-align: center;
		background-position: bottom;
		background-repeat: no-repeat;
	}

	.navBar ul {
		text-align: center;
		list-style: none;
	}

	#siteName {
		font-family: 'Poiret One', cursive;
		font-size: 1.8em;
		text-align: center;
		font-weight: bolder;
		padding: .1em .1em;
		margin: .1em .1em;
	}
	.navBar ul li {
		display: inline-block;
		padding: .1em .1em;
		margin: .1em .5em;
	}

	form {
		display: inline-block;
		margin: 1em 1em;
		padding: 1em 1em;
	}

	.warning {
		font-size: 1em;
	}

	label {
		margin-left: 6.5em;
		font-size: .8em;
	}

	#newItem {
		margin: 0 1em;
		width: 15em;
		margin-left: 2em;
	}

	#add {
		font-size: .8em;
		margin-left: 7.5em;
	}

	.validInput{
		font-size: 1em;
	}

	.welcome {
		margin: 0;
	}


	.newItems {
		max-height: 9em;
	}

	.newItems button { 
		font-size: .6em
	}


	.confirmedItems {
		max-height: 9em;
	}

	.confirmedItems button {
		font-size: .6em
	}

	#newlist {
		font-size: 1em;
		text-align: left;
	}

	#confirmedlist {
		font-size: 1em;
		text-align: left;
	}

	section{
		margin-bottom: 15em;
	}

	.slogan {
		font-size: 1em;
	}



}


